{% extends "base.html" %}
{% block content %}

<div id="about">
    <h4>About</h4>
<p>Plants are important for living organisms as they help in balancing the habitat’s biological 
    aspects. According to the 2021/22 census 66% of the Nepal’s population relies on agriculture. 
    Like human, plants also suffer from many diseases that badly affect their normal growth. 
    Identifying plant diseases is important in order to prevent the loses within the yield. Plant 
    pathologists does the classification and identification of diseases, often on leaves depending 
    on various factors such as shapes, sizes, color, or texture. 
    Because of huge number of plants and complexity, there are also many numbers of diseases. 
    Its terribly problematic to observe the plant diseases manually. It requires a huge amount of 
    labor, expertise within the plant diseases and collectively requires excessive time interval. For 
    the easy and effective detection of plant diseases image processing and machine learning 
    models can be used. 
    In this project, we will be implementing the concept of image processing and machine learning 
    for the detection of plant diseases with the help of their leaves pictures and will be 
    recommending treatments and preventive measures. We will be using Image processing for 
    feature extraction and other useful information. The main aim of using machine learning is to 
    understand the training data and fit that training data into models that should be useful to the 
    people.</p>

</div>
<br>
<br>
<br>
{% endblock %}